@colissimo:registry=http://nexus2.colis.intra.laposte.fr/nexus/repository/npm-group/
# set colissimo registry as default, use if connected to colissimo network
registry=http://nexus2.colis.intra.laposte.fr/nexus/repository/npm/