*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: blue;
    border-spacing: 0;
    table-layout: fixed;
    width: inherit;
}

.empty {
    background-color: blue;
}

.wall {
    background-color: brown;
}

.lava {
    background-color: red;
}

.player {
    background-color: green;
}

.lose .player {
    background-color: black;
}

.win .player {
    background-color: gold;
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.coin {
    background-color: yellow;
}

.entity {
    position: absolute;
}

.game {
    position: relative; /* parent container of .entity */
    overflow: hidden;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}

.background td {
    padding: 0;
}

